---

---

<section
  class="result bg-linear-to-b from-(--Light-slate-blue) to-(--Light-royal-blue) text-center text-(--white) rounded-b-(--space-l) px-(--space-xl) sm:rounded-t-(--space-l) sm:w-[300px] lg:w-[340px] sm:relative sm:left-5"
>
  <p
    class="py-(--space-m) text-(--Light-lavender) text-(length:--step-3) font-bold sm:text-(length:--step-1)"
  >
    Your Result
  </p>
  <div
    class="circle pb-(--space-l) bg-linear-to-b from-(--Violet-blue) to-(--Persian-blue) rounded-full mx-16 p-11 sm:mx-4 max-[321px]:mx-9 min-[425px]:mx-22 lg:mx-8 xl:mx-4"
  >
    <p class="text-6xl font-bold">76</p>
    <p class="text-(--Light-lavender)">of 100</p>
  </div>
  <p class="pb-(--space-2xs) text-(length:--step-3) font-bold pt-(--space-xs)">
    Great
  </p>
  <p class="pb-(--space-l) text-(--Light-lavender) sm:text-(length:--step-0)">
    You scored higher than 65% of the people who have taken these test
  </p>
</section>
