---
import "../styles/global.css";
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Zak | Result summary component</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="font-(family-name:--font-Hanken-Grotesk) text-(length:--step-1) sm:bg-(--Pale-blue)"
  >
    <main class="sm:flex sm:justify-center sm:items-center sm:min-h-screen">
      <slot />
    </main>
  </body>
</html>
